<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (projects.length === 0) { %>
        <h1 class="centered">Currently No Pending Projects</h1>
        <% } else { %>

        <% for (let i = 0; i < projects.length; i++) { %>
        <div class="project-container">


            <div class="left-column">
                <form action="/admin/pending-projects" method="POST">
                    <input type="hidden" value="<%= projects[i]._id %>" name="projectId">
                    <div class="header">
                        <h2><%= projects[i].projectName %></h2>
                    </div>
                    <p>
                    <div class="inline">Submission-</div><%= projects[i].dateCreated.toUTCString() %> <br>
                    <div class="inline">Due-</div><%= new Date().toUTCString()  %></p>
                    <h3>Comment</h3>
                    <div class="description-padd">
                        <div class="description">
                            <p><%= projects[i].description %></p>
                        </div>
                    </div>
            </div>

            <div class="right-column">
                <div class="files">
                    <% for (let j = 0; j < projects[i].projectFiles.length; j++) { %>
                    <ul>
                        <li> <img src="/images/fileB.png" style="height: 4rem;"
                                alt="file"><%= projects[i].projectFiles[j] %></li>
                    </ul>
                    <% } %>

                    <div class="quote">
                        <p>Quote Price:</p>
                        <input type="number" name="price" id="price" step="0.01" />

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <div class="center-btn">
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>

            </div>

            </form>
        </div>
        <p></p>
        <% }; %>

        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>