<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <div>
        <% if (!isAuthenticated) { %>
        <li class="main-header__item">
          <a
            class="<%= path === '/' ? 'active' : '' %>"
            href="/"
            style="padding: 0 0rem; margin: 0"
            ><img class="logo" src="/images/cncLogo.png" alt="CNC"
          /></a>
        </li>
          <% } else if (isAuthenticated && isAdmin) { %>
        <li class="main-header__item"></li>
          <a
            class="<%= path === 'admin/pending-orders' ? 'active' : '' %>"
            href="admin/pending-orders"
            style="padding: 0 0rem; margin: 0"
            ><img class="logo" src="/images/cncLogo.png" alt="CNC"
          /></a>
        </li>
        <% } %>
      </div>

      <div class="leftContainer">
        <% if (!isAuthenticated) { %>
        <li class="main-header__item">
          <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
            >Login</a
          >
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
            >Sign Up</a
          >
        </li>
        <% } else if (isAuthenticated && isAdmin) { %>
        <li class="main-header__item">
          <a class="<%= path === '/account' ? 'active' : '' %>" href="/account"
            > <img class="logo-Person" src="/images/person.png" alt="CNC"
            /> Account</a
          >
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/admin/pending-projects' ? 'active' : '' %>" href="/admin/pending-projects"
            >Pending Projects</a 
          >
        </li>
        <li class="main-header__item">
          <form action="/logout" method="post">
            <!-- Do not forget to add the token and the name "_csrf"-->
            <!-- THE NAME MUST BE "_csrf"-->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn-nav button" type="submit">Logout</button>
          </form>
        </li>
        <% } else { %>
        <li class="main-header__item">
          <a class="<%= path === '/admin-account' ? 'active' : '' %>" href="/account"
            >Account</a
          >
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
            >Orders</a
          >
        </li>
        <li class="main-header__item">
          <form action="/logout" method="post">
            <!-- Do not forget to add the token and the name "_csrf"-->
            <!-- THE NAME MUST BE "_csrf"-->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn-nav button" type="submit">Logout</button>
          </form>
        </li>
        <% } %>
      </div>
    </ul>
  </nav>
</header>
