<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <main>
    <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
    <% } else { %>
        <ul class="orders">
            <% orders.forEach(order => { %>
                <li class="orders__item">
                    <h1>Order - # <%= order._id %></h1>
                    <a class="btn" href="/orders/<%= order._id %>" target="_blank">Invoice</a>
                    <p ><%= order.project.projectName %></p>
                </li>
            <% }); %>
        </ul>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>