<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>

        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>

        <% if (projects.length === 0) { %>
            <h1 class="centered">Currently No Pending Projects</h1>
        <% } else { %>

        <% for (let i = 0; i < projects.length; i++) { %>
            <div class="project-container2">
                <div class="left-column">
                    <form action="/admin/pending-projects" method="POST">
                        <input type="hidden" value="<%= projects[i]._id %>" name="projectId">
                        <div class="header">
                            <h2><%= projects[i].projectName %></h2>
                        </div>
                        <p>
                            <h3>Description</h3>
                            <div class="description-padd">
                                <div class="description">
                                    <p><%= projects[i].description %></p>
                                </div>
                            </div>
                </div>

                <div class="right-column">
                    <div class="files">
                        <% for (let j = 0; j < projects[i].projectFiles.length; j++) { %>
                            <ul>
                                <li> <img src="/images/fileB.png" style="height: 4rem;"
                                          alt="file"><%= projects[i].projectFiles[j] %></li>
                            </ul>
                        <% } %>

                        <div class="quote">
                            <p>Quote Price: <%= projects[i].quotePrice %></p>
                        </div>
                    </div>
                </div>

                    </form>
                    <% if (!projects[i].userAgreesWithQuote && projects[i].quotePrice !== undefined) { %>
                        <form action="/update-order" method="POST">
                            <input type="hidden" value="<%= projects[i]._id %>" name="projectId">
                            <div>

                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <button class="btn2" type="submit">Agree to quote</button>
                            </div>
                        </form>
                    <% } %>
                    <form action="/project/deleteProject" method="POST">
                        <input type="hidden" value="<%= projects[i]._id %>" name="projectId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button class="btn" type="submit">Delete Project</button>
                    </form>
            </div>

            <p></p>
        <% }; %>

    <% } %>
        <div class="centeredSpace">
            <h3> <a class="btn" href="/project/createProject"> Create New Project </a> </h3>
        </div>
    </main>
</body>

<%- include('../includes/end.ejs') %>
